#--  transl
locale/translation*
#.tx
#/*
tx
*.pot
sr.log
#*.xml
#core_lang*
data/gui/core_language_*_tag.xml
!*/core_language_en_tag.xml
#source/ogre/BaseApp_Create.cpp
#source/editor/BaseApp_Create.cpp

#--  build
*build
build*
Debug*
Release*
bin
lib
CMakeLists.txt.user*

#-- win bin
*.dll
*.pdb
*.exe

#-- vs crap
*.ncb
*.suo
*.user

*.lnk
#-- binaries
StuntRally*.*
SR?Editor*.*
stuntrally*
sr-editor*

#--  sr data
data/ghosts/original
data/tracks
data/car*/
#data
#.vscode
#tracks.ini
