data/tracks
locale/translations-export
*build
build*
Debug*
Release*
game.cfg
editor.cfg
ogreset.cfg
ogre.log
log.txt
MyGUI.log
*.dll
*.pdb
screens
bin
StuntRally*.*
SR?Editor*.*
CMakeLists.txt.user*
