
[ game ]
in_main = on
in_menu = 0
start_in_main = on
track = Isl6-Flooded
track_user = off

[ graph_detail ]
anisotropy = 4
preset = 4
road_dist = 2.00000
ter_detail = 1.000000
ter_dist = 2000.000000
ter_mtr = 2
ter_tripl = 1
tex_filter = 2
tex_size = 1
view_dist = 20000.000000

[ graph_reflect ]
water_reflect = on
water_refract = on
water_rttsize = 0

[ graph_shadow ]
count = 2
dist = 1300.000000
lightmap_size = 0
shader_mode = 
size = 3
type = 1

[ graph_veget ]
grass = 1.000000
grass_dist = 2.000000
imposters_only = off
trees = 1.500000
trees_dist = 2.000000
use_imposters = on

[ gui_tracks ]
columns0 = 0 0 1 0 0 0 1 1 0 0 0 0 0 0 0 0 0 0 0
columns1 = 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
filter = off
filters0 = 1 0 0 0 0 0 0 0 0 0 0 0 0 0
filters1 = 27 6 6 4 4 5 5 4 5 4 5 5 25 24
sort = 2
sortup = on
view = 0

[ hud_show ]
brushpreview = on
fps = off
mini_num = 3
trackmap = on

[ hud_size ]
minimap = 0.550000

[ misc ]
allow_save = off
autostart = on
camPos = off
check_load = off
check_save = on
escquit = off
inputBar = off
language = 
mouse_capture = on
ogredialog = off
screenshot_png = off
#version form code

[ pacenotes ]
alpha = 0.900000
dist = 698.453247
near = 1.000000
show = 0
size = 0.870118
trk_reverse = off

[ pick ]
set_par = on

[ set ]
cam_inert = 0.400000
cam_speed = 0.900000
fog = off
mini_skip = 4
road_sphr = 2.500000
ter_skip = 1
trees = on
weather = on

[ set_cam ]
dx = 0.436778
dy = -0.290536
dz = -0.851360
px = -95.021378
py = 43.839333
pz = 167.810242

[ ter_gen ]
freq = 0.914330
mul = 1.000000
oct = 4
ofsh = 0.000000
ofsx = 0.140625
ofsy = -1.546875
persist = 0.347266
pow = 1.000000
roadsm = 0.000000
scale = 52.041016
terMaxA = 90.000000
terMaxH = 300.000000
terMinA = 0.000000
terMinH = -300.000000
terSmA = 9.000000
terSmH = 20.000000

[ teralign ]
smooth = 3.000000
w_add = 12.000000
w_mul = 1.000000

[ tweak ]
mtr = 

[ video ]
buffer = FBO
fsaa = 0
fullscreen = off
limit_fps = off
limit_fps_val = 60.000000
limit_sleep = -1
rendersystem = Default
vsync = on
windowx = 1024
windowy = 768
