Car/CameraOverlay
{
	zorder 500

	container BorderPanel(Car/CameraPanel)
	{
		vert_align bottom
		left   0.8
		width  0.15
		top     -0.02
		height	 0.02
		//material Menu/FocusOvr2

		element TextArea(Car/Camera)
		{
			left 0.004
			top 0.002
			width 0.09
			height 0.021
			font_name Console
			char_height 0.02
			caption Camera
			colour_top    0.4 0.7 0.7
			colour_bottom 0.9 1.0 1.0
		}
				
	}

	container BorderPanel(Car/CameraInfoPanel)
	{
		vert_align bottom
		left  0.16
		width 0.5
		top	-0.042
		height	0.042
		//material Menu/FocusOvr2
		//material Menu/PhysicsOvr

		element TextArea(Car/CameraInfo)
		{
			left 0.007
			top 0.0016
			width 0.43
			height 0.022
			font_name Console
			char_height 0.02
			caption Camera Info
			colour_top    0.4 0.7 0.5
			colour_bottom 0.9 1.0 0.95
		}
				
	}
}
