overlay Car/StatsExt
{
	zorder 500
	overlay_element Car/StatsPanelExt Panel
	{

	//---------------------------------------  U
	overlay_element X_1 TextArea
	{
		metrics_mode pixels
		vert_align top
		left 3
		top 100
		width 400
		height 60
		font_name Console
		char_height 21
		colour 0.9 1 1
	}

	overlay_element X_2 TextArea
	{
		metrics_mode pixels
		vert_align top
		left 3
		top 160
		width 400
		height 60
		font_name Console
		char_height 21
		colour 0.9 1 1
	}

	overlay_element X_3 TextArea
	{
		metrics_mode pixels
		vert_align top
		left 3
		top 220
		width 400
		height 60
		font_name Console
		char_height 21
		colour 0.9 1 1
	}

	overlay_element X_4 TextArea
	{
		metrics_mode pixels
		vert_align top
		left 3
		top 280
		width 400
		height 60
		font_name Console
		char_height 21
		colour 0.9 1 1
	}

	overlay_element X_5 TextArea
	{
		metrics_mode pixels
		vert_align top
		left 3
		top 340
		width 400
		height 60
		font_name Console
		char_height 21
		colour 0.9 1 1
	}
	}
}

overlay Car/StatsTxt
{
	zorder 600
	overlay_element Car/StatsPanelTxt Panel
	{

	//---------------------------------------  U
	overlay_element U_1 TextArea
	{
		metrics_mode pixels
		vert_align top
		left 3
		top 30
		width 600
		height 800
		font_name Console
		char_height 21
		colour 1 1 1
	}

	overlay_element U_2 TextArea
	{
		metrics_mode pixels
		vert_align top
		left 303
		top 30
		width 300
		height 800
		font_name Console
		char_height 21
		colour 1 1 1
	}

	overlay_element U_3 TextArea
	{
		metrics_mode pixels
		vert_align top
		left 603
		top 30
		width 300
		height 800
		font_name Console
		char_height 21
		colour 1 1 1
	}

	overlay_element U_4 TextArea
	{
		metrics_mode pixels
		vert_align top
		left 903
		top 30
		width 600
		height 800
		font_name Console
		char_height 21
		colour 1 1 1
	}

	overlay_element U_5 TextArea
	{
		metrics_mode pixels
		vert_align top
		left 1203
		top 30
		width 600
		height 800
		font_name Console
		char_height 21
		colour 1 1 1
	}
	}
}

overlay Car/Stats
{
	zorder 600
	overlay_element Car/StatsPanel Panel
	{

	//---------------------------------------  L
	overlay_element L_1 TextArea
	{
		metrics_mode pixels
		vert_align bottom
		left 3
		top -405
		width 128
		height 22
		font_name Console
		char_height 22
		colour 0.4 0.9 1.0
		caption |
	}

	overlay_element L_2 TextArea
	{
		metrics_mode pixels
		vert_align bottom
		left 3
		top -435
		width 128
		height 22
		font_name Console
		char_height 22
		colour 0.4 0.9 1.0
		caption |
	}

	overlay_element L_3 TextArea
	{
		metrics_mode pixels
		vert_align bottom
		left 3
		top -465
		width 128
		height 22
		font_name Console
		char_height 22
		colour 0.4 0.9 1.0
		caption |
	}

	overlay_element L_4 TextArea
	{
		metrics_mode pixels
		vert_align bottom
		left 3
		top -495
		width 128
		height 22
		font_name Console
		char_height 22
		colour 0.4 0.9 1.0
		caption |
	}

	overlay_element L_5 TextArea
	{
		metrics_mode pixels
		vert_align bottom
		left 3
		top -365
		width 128
		height 22
		font_name Console
		char_height 22
		colour 0.9 0.96 1
		caption *
	}


	//---------------------------------------  R
	overlay_element R_1 TextArea
	{
		metrics_mode pixels
		vert_align bottom
		left 475
		top -205
		width 50
		height 22
		font_name Console
		char_height 22
		colour 0.6 1 0.7
		caption |
	}

	overlay_element R_2 TextArea
	{
		metrics_mode pixels
		vert_align bottom
		left 475
		top -235
		width 50
		height 22
		font_name Console
		char_height 22
		colour 0.6 1 0.7
		caption |
	}

	overlay_element R_3 TextArea
	{
		metrics_mode pixels
		vert_align bottom
		left 475
		top -265
		width 50
		height 22
		font_name Console
		char_height 22
		colour 0.6 1 0.7
		caption |
	}

	overlay_element R_4 TextArea
	{
		metrics_mode pixels
		vert_align bottom
		left 475
		top -295
		width 50
		height 22
		font_name Console
		char_height 22
		colour 0.6 1 0.7
		caption |
	}

	overlay_element R_5 TextArea
	{
		metrics_mode pixels
		vert_align bottom
		left -475
		top -35
		width 50
		height 22
		font_name Console
		char_height 22
		colour 0.6 0.8 1.0
	}


	//---------------------------------------  S
	overlay_element S_1 TextArea
	{
		metrics_mode pixels
		vert_align bottom
		left 475
		top -205
		width 50
		height 22
		font_name Console
		char_height 22
		colour 1.0 0.9 0.0
		caption |
	}

	overlay_element S_2 TextArea
	{
		metrics_mode pixels
		vert_align bottom
		left 475
		top -235
		width 50
		height 22
		font_name Console
		char_height 22
		colour 1.0 0.9 0.0
		caption |
	}

	overlay_element S_3 TextArea
	{
		metrics_mode pixels
		vert_align bottom
		left 475
		top -265
		width 50
		height 22
		font_name Console
		char_height 22
		colour 1.0 0.9 0.0
		caption |
	}

	overlay_element S_4 TextArea
	{
		metrics_mode pixels
		vert_align bottom
		left 475
		top -295
		width 50
		height 22
		font_name Console
		char_height 22
		colour 1.0 0.9 0.0
		caption |
	}

	overlay_element S_5 TextArea
	{
		metrics_mode pixels
		vert_align bottom
		left -475
		top -35
		width 50
		height 22
		font_name Console
		char_height 22
		colour 1 0.9 0.2
		caption .
	}

	
	}
}
