Car/StatsExt
{
	zorder 500
	container BorderPanel(Car/StatsPanelExt)
	{

	//---------------------------------------  U
	container TextArea(X_1)
	{
		metrics_mode pixels
		vert_align top
		left 3
		top 100
		width 400
		height 60
		font_name Console
		char_height 21
		colour 0.9 1 1
	}

	container TextArea(X_2)
	{
		metrics_mode pixels
		vert_align top
		left 3
		top 160
		width 400
		height 60
		font_name Console
		char_height 21
		colour 0.9 1 1
	}

	container TextArea(X_3)
	{
		metrics_mode pixels
		vert_align top
		left 3
		top 220
		width 400
		height 60
		font_name Console
		char_height 21
		colour 0.9 1 1
	}

	container TextArea(X_4)
	{
		metrics_mode pixels
		vert_align top
		left 3
		top 280
		width 400
		height 60
		font_name Console
		char_height 21
		colour 0.9 1 1
	}

	container TextArea(X_5)
	{
		metrics_mode pixels
		vert_align top
		left 3
		top 340
		width 400
		height 60
		font_name Console
		char_height 21
		colour 0.9 1 1
	}
	}
}

Car/StatsTxt
{
	zorder 600
	container BorderPanel(Car/StatsPanelTxt)
	{

	//---------------------------------------  U
	container TextArea(U_1)
	{
		metrics_mode pixels
		vert_align top
		left 3
		top 30
		width 600
		height 800
		font_name Console
		char_height 21
		colour 1 1 1
	}

	container TextArea(U_2)
	{
		metrics_mode pixels
		vert_align top
		left 303
		top 30
		width 300
		height 800
		font_name Console
		char_height 21
		colour 1 1 1
	}

	container TextArea(U_3)
	{
		metrics_mode pixels
		vert_align top
		left 603
		top 30
		width 300
		height 800
		font_name Console
		char_height 21
		colour 1 1 1
	}

	container TextArea(U_4)
	{
		metrics_mode pixels
		vert_align top
		left 903
		top 30
		width 600
		height 800
		font_name Console
		char_height 21
		colour 1 1 1
	}

	container TextArea(U_5)
	{
		metrics_mode pixels
		vert_align top
		left 1203
		top 30
		width 600
		height 800
		font_name Console
		char_height 21
		colour 1 1 1
	}
	}
}

Car/Stats
{
	zorder 600
	container BorderPanel(Car/StatsPanel)
	{

	//---------------------------------------  L
	container TextArea(L_1)
	{
		metrics_mode pixels
		vert_align bottom
		left 3
		top -405
		width 128
		height 22
		font_name Console
		char_height 22
		colour 0.4 0.9 1.0
		caption |
	}

	container TextArea(L_2)
	{
		metrics_mode pixels
		vert_align bottom
		left 3
		top -435
		width 128
		height 22
		font_name Console
		char_height 22
		colour 0.4 0.9 1.0
		caption |
	}

	container TextArea(L_3)
	{
		metrics_mode pixels
		vert_align bottom
		left 3
		top -465
		width 128
		height 22
		font_name Console
		char_height 22
		colour 0.4 0.9 1.0
		caption |
	}

	container TextArea(L_4)
	{
		metrics_mode pixels
		vert_align bottom
		left 3
		top -495
		width 128
		height 22
		font_name Console
		char_height 22
		colour 0.4 0.9 1.0
		caption |
	}

	container TextArea(L_5)
	{
		metrics_mode pixels
		vert_align bottom
		left 3
		top -365
		width 128
		height 22
		font_name Console
		char_height 22
		colour 0.9 0.96 1
		caption *
	}


	//---------------------------------------  R
	container TextArea(R_1)
	{
		metrics_mode pixels
		vert_align bottom
		left 475
		top -205
		width 50
		height 22
		font_name Console
		char_height 22
		colour 0.6 1 0.7
		caption |
	}

	container TextArea(R_2)
	{
		metrics_mode pixels
		vert_align bottom
		left 475
		top -235
		width 50
		height 22
		font_name Console
		char_height 22
		colour 0.6 1 0.7
		caption |
	}

	container TextArea(R_3)
	{
		metrics_mode pixels
		vert_align bottom
		left 475
		top -265
		width 50
		height 22
		font_name Console
		char_height 22
		colour 0.6 1 0.7
		caption |
	}

	container TextArea(R_4)
	{
		metrics_mode pixels
		vert_align bottom
		left 475
		top -295
		width 50
		height 22
		font_name Console
		char_height 22
		colour 0.6 1 0.7
		caption |
	}

	container TextArea(R_5)
	{
		metrics_mode pixels
		vert_align bottom
		left -475
		top -35
		width 50
		height 22
		font_name Console
		char_height 22
		colour 0.6 0.8 1.0
	}


	//---------------------------------------  S
	container TextArea(S_1)
	{
		metrics_mode pixels
		vert_align bottom
		left 475
		top -205
		width 50
		height 22
		font_name Console
		char_height 22
		colour 1.0 0.9 0.0
		caption |
	}

	container TextArea(S_2)
	{
		metrics_mode pixels
		vert_align bottom
		left 475
		top -235
		width 50
		height 22
		font_name Console
		char_height 22
		colour 1.0 0.9 0.0
		caption |
	}

	container TextArea(S_3)
	{
		metrics_mode pixels
		vert_align bottom
		left 475
		top -265
		width 50
		height 22
		font_name Console
		char_height 22
		colour 1.0 0.9 0.0
		caption |
	}

	container TextArea(S_4)
	{
		metrics_mode pixels
		vert_align bottom
		left 475
		top -295
		width 50
		height 22
		font_name Console
		char_height 22
		colour 1.0 0.9 0.0
		caption |
	}

	container TextArea(S_5)
	{
		metrics_mode pixels
		vert_align bottom
		left -475
		top -35
		width 50
		height 22
		font_name Console
		char_height 22
		colour 1 0.9 0.2
		caption .
	}

	
	}
}
