
Core/FpsOverlay
{
	zorder 500

	container BorderPanel(Core/StatPanel)
	{
		metrics_mode pixels
		vert_align top
		left  0
		top   0
		width 190
		height 25
		material Core/StatsBlockCenter
		//material Menu/FocusOvr

		element TextArea(Core/CurrFps)
		{
			metrics_mode pixels
			left 10
			top 6
			width 90
			height 20
			font_name Console
			char_height 18
			caption Fps
			//colour_top    0.03 0.18 0.3
			//colour_bottom 0.16 0.18 0.2
			colour_top    0.53 0.78 0.9
			colour_bottom 0.96 0.98 1
		}

		element TextArea(Core/NumTris)
		{
			metrics_mode pixels
			left 75
			top 7
			width 90
			height 20
			font_name Console
			char_height 17
			caption Tri
			//colour_top    0.05 0.1 0.26
			//colour_bottom 0.36 0.4 0.46
			colour_top    0.55 0.6 0.76
			colour_bottom 0.86 0.9 0.96
		}

		element TextArea(Core/NumBatches)
		{
			metrics_mode pixels
			left 140
			top 7
			width 90
			height 20
			font_name Console
			char_height 17
			caption Bat
			//colour_top    0.01 0.12 0.23
			//colour_bottom 0.47 0.53 0.58
			colour_top    0.31 0.52 0.63
			colour_bottom 0.87 0.93 0.98
		}

	
	}
}


Core/DebugOverlay
{
	zorder 500

	container BorderPanel(Core/DebugPanel)
	{
		metrics_mode pixels
		vert_align bottom
		left  250
		width 700
		top	-25
		height	 25
		material Core/StatsBlockCenter

		element TextArea(Core/DebugText)
		{
			metrics_mode pixels
			left 10
			top 6
			width 600
			height 20
			font_name Console
			char_height 18
			caption Info
			colour_top    0.7 0.7 0.8
			colour_bottom 0.8 0.9 1.0
		}
				
	}
}

