
Core/FpsOverlay
{
	zorder 500
	container BorderPanel(Core/StatPanel)
	{
		metrics_mode pixels
		vert_align top
		left  0
		top   0
		width 210
		height 25
		material Core/StatsBlockCenter
		//material Menu/FocusOvr

		element TextArea(Core/CurrFps)
		{
			metrics_mode pixels
			left 10
			top 6
			width 90
			height 20
			font_name Console
			char_height 18
			caption Fps
			colour_top    0.63 0.86 1
			colour_bottom 0.96 0.98 1
		}

		element TextArea(Core/NumTris)
		{
			metrics_mode pixels
			left 65
			top 7
			width 90
			height 20
			font_name Console
			char_height 17
			caption Tri
			colour_top	  0.55 0.6 0.8
			colour_bottom 0.76 0.86 0.96
		}

		element TextArea(Core/NumBatches)
		{
			metrics_mode pixels
			left 120
			top 7
			width 90
			height 20
			font_name Console
			char_height 17
			caption Bat
			colour_top    0.61 0.72 0.93
			colour_bottom 0.87 0.93 0.98
		}

		element TextArea(Core/Memory)
		{
			metrics_mode pixels
			left 160
			top 7
			width 90
			height 20
			font_name Console
			char_height 17
			caption Mem
			colour_top    0.43 0.52 0.61
			colour_bottom 0.87 0.93 0.98
		}
	
	}
}


Core/DebugOverlay
{
	zorder 500

	container BorderPanel(Core/DebugPanel)
	{
		metrics_mode pixels
		vert_align bottom
		left  250
		width 700
		top	-25
		height	 25
		material Core/StatsBlockCenter

		element TextArea(Core/DebugText)
		{
			metrics_mode pixels
			left 10
			top 6
			width 600
			height 20
			font_name Console
			char_height 18
			caption Info
			colour_top    0.7 0.7 0.8
			colour_bottom 0.8 0.9 1.0
		}
				
	}
}

