
Hud/AbsTcs
{
	zorder 500
	container BorderPanel(Hud/AbsTcsPanel)
	{
		vert_align bottom
		left   0.12
		width  0.1
		top     -0.022
		height	 0.022
		//material Core/StatsBlockCenter

		element TextArea(Hud/AbsText)
		{
			metrics_mode pixels
			left 0
			font_name Vera
			char_height 24
			caption ABS
			//char_height 0.058
			colour_top    0.7 0.7 0.8
			colour_bottom 0.8 0.9 1.0
		}
		
		element TextArea(Hud/TcsText)
		{
			metrics_mode pixels
			left 50
			font_name Vera
			char_height 24
			caption TCS
			//char_height 0.058
			colour_top    0.7 0.7 0.8
			colour_bottom 0.8 0.9 1.0
		}
	}
}


Hud/Countdown
{
	zorder 500
	container BorderPanel(Hud/CountdownPanel)
	{
		vert_align top
		horz_align left
		left  0.49
		top	0.5
		width  0.15
		height	0.1

		element TextArea(Hud/CountdownText)
		{
			font_name Digits
			char_height 0.06
			//caption 123
			colour_top    0.4 0.7 0.8
			colour_bottom 0.8 0.9 1.0
		}
	}
}


Hud/NetMessages
{
	zorder 500
	container BorderPanel(Hud/NetMessagesPanel)
	{
		vert_align top
		horz_align left
		left  0.36
		top	0.01
		width  0.15
		height	0.1
		//material hud/Times

		element TextArea(Hud/NetMessagesText)
		{
			font_name Vera
			char_height 0.03
			colour_top    0.0 0.0 0.0
			colour_bottom 0.8 0.4 0.0
		}
	}
}


Hud/WarnAndWin
{
	zorder 500
	container BorderPanel(Hud/WarnAndWinPanel)
	{
		metrics_mode pixels
		vert_align top
		left  300
		width 400
		top   15
		height 55
		material hud/info

		element TextArea(Hud/Warning)
		{
			metrics_mode pixels
			left 70
			top 10
			width 600
			height 53
			font_name Vera
			char_height 32
			//caption Wrong Checkpoint
			colour_top	  0.8 0.0 0.0
			colour_bottom 1.0 0.4 0.0
		}

		element TextArea(Hud/WonPlace)
		{
			metrics_mode pixels
			left 70
			top 10
			width 600
			height 53
			font_name Vera
			char_height 32
			//caption ---- 1 Place ----
			colour_top	  0.3 1.0 0.3
			colour_bottom 0.8 1.0 0.7
		}
	}
}

