
Hud/Gear
{
	zorder 500
	container BorderPanel(Hud/GearPanel)
	{
		vert_align bottom
		left   0.11
		width  0.1
		top 	-0.10
		height	 0.10
		//material Core/StatsBlockCenter

		element TextArea(Hud/GearText)
		{
			font_name Digits
			char_height 0.076
			caption 4
			colour_top    0.53 0.78 0.9
			colour_bottom 0.96 0.98 1
		}
	}
}


Hud/Vel
{
	zorder 500
	container BorderPanel(Hud/VelPanel)
	{
		vert_align bottom
		horz_align right
		left   -0.065
		//right  0.27
		width  0.065
		top     -0.08
		height	 0.08
		//material Core/StatsBlockCenter

		element TextArea(Hud/VelText)
		{
			font_name Digits
			char_height 0.055
			caption 123
			colour_top    0.7 0.7 0.8
			colour_bottom 0.8 0.9 1.0
		}
	}
}


Hud/AbsTcs
{
	zorder 500
	container BorderPanel(Hud/AbsTcsPanel)
	{
		vert_align bottom
		left   0.12
		width  0.1
		top     -0.022
		height	 0.022
		//material Core/StatsBlockCenter

		element TextArea(Hud/AbsText)
		{
			metrics_mode pixels
			left 0
			font_name Vera
			char_height 24
			caption ABS
			//char_height 0.058
			colour_top    0.7 0.7 0.8
			colour_bottom 0.8 0.9 1.0
		}
		
		element TextArea(Hud/TcsText)
		{
			metrics_mode pixels
			left 50
			font_name Vera
			char_height 24
			caption TCS
			//char_height 0.058
			colour_top    0.7 0.7 0.8
			colour_bottom 0.8 0.9 1.0
		}
	}
}


Hud/Times
{
	zorder 500
	container BorderPanel(Hud/TimesPanel)
	{
		metrics_mode pixels
		vert_align top
		horz_align left
		left  0
		width  210
		top	30
		height	 115
		material hud/Times

		element TextArea(Hud/TimesText)
		{
			metrics_mode pixels
			left 20
			top 9
			width 200
			height 60
			font_name Vera
			char_height 24
			caption Times
			colour_top    0.7 0.8 0.9
			colour_bottom 0.95 1.0 1.0
		}

		element TextArea(Hud/TimesCheck)
		{
			metrics_mode pixels
			left 10
			top 8
			width 200
			height 60
			font_name Vera
			char_height 24
			//caption Check
			colour_top    1.0 0.2 0.2
			colour_bottom 1.0 0.5 0.4
		}
	}
}
