
Hud/AbsTcs
{
	zorder 500
	container BorderPanel(Hud/AbsTcsPanel)
	{
		vert_align bottom
		left   0.12
		width  0.1
		top     -0.022
		height	 0.022
		//material Core/StatsBlockCenter

		element TextArea(Hud/AbsText)
		{
			metrics_mode pixels
			left 0
			font_name Vera
			char_height 24
			caption ABS
			//char_height 0.058
			colour_top    0.7 0.7 0.8
			colour_bottom 0.8 0.9 1.0
		}
		
		element TextArea(Hud/TcsText)
		{
			metrics_mode pixels
			left 50
			font_name Vera
			char_height 24
			caption TCS
			//char_height 0.058
			colour_top    0.7 0.7 0.8
			colour_bottom 0.8 0.9 1.0
		}
	}
}


Hud/Countdown
{
	zorder 500
	container BorderPanel(Hud/CountdownPanel)
	{
		vert_align top
		horz_align left
		left  0.49
		top	0.5
		width  0.15
		height	0.1

		element TextArea(Hud/CountdownText)
		{
			font_name Digits
			char_height 0.06
			//caption 123
			colour_top    0.4 0.7 0.8
			colour_bottom 0.8 0.9 1.0
		}
	}
}


Hud/NetMessages
{
	zorder 500
	container BorderPanel(Hud/NetMessagesPanel)
	{
		vert_align top
		horz_align left
		left  0.36
		top	0.01
		width  0.15
		height	0.1
		//material hud/Times

		element TextArea(Hud/NetMessagesText)
		{
			font_name Vera
			char_height 0.03
			colour_top    0.0 0.0 0.0
			colour_bottom 0.8 0.4 0.0
		}
	}
}


Hud/Times
{
	zorder 500
	container BorderPanel(Hud/TimesPanel)
	{
		metrics_mode pixels
		vert_align top
		horz_align left
		left  0
		width  210
		top	30
		height	 115
		material hud/Times

		element TextArea(Hud/TimesText)
		{
			metrics_mode pixels
			left 20
			top 9
			width 200
			height 60
			font_name Vera
			char_height 24
			caption Times
			colour_top    0.7 0.8 0.9
			colour_bottom 0.95 1.0 1.0
		}

		element TextArea(Hud/TimesCheck)
		{
			metrics_mode pixels
			left 10
			top 8
			width 200
			height 60
			font_name Vera
			char_height 24
			//caption Check
			colour_top    1.0 0.2 0.2
			colour_bottom 1.0 0.5 0.4
		}
	}
}


Hud/WarnAndWin
{
	zorder 500
	container BorderPanel(Hud/WarnAndWinPanel)
	{
		metrics_mode pixels
		vert_align top
		left  300
		width 400
		top   15
		height 55
		material hud/info

		element TextArea(Hud/Warning)
		{
			metrics_mode pixels
			left 70
			top 10
			width 600
			height 53
			font_name Vera
			char_height 32
			//caption Wrong Checkpoint
			colour_top	  0.8 0.0 0.0
			colour_bottom 1.0 0.4 0.0
		}

		element TextArea(Hud/WonPlace)
		{
			metrics_mode pixels
			left 70
			top 10
			width 600
			height 53
			font_name Vera
			char_height 32
			//caption ---- 1 Place ----
			colour_top	  0.3 1.0 0.3
			colour_bottom 0.8 1.0 0.7
		}
	}
}

Hud/Opponents
{
	zorder 500
	container BorderPanel(Hud/OpponentsPanel)
	{
		metrics_mode pixels
		vert_align bottom
		horz_align left
		left   0
		width  230
		top     -440
		height	 100
		material hud/Opponents

		//  col 0  ---------
		element TextArea(Hud/OppText0_0)
		{
			metrics_mode pixels
			font_name Vera
			char_height 22
			left 5
			top  5
		}
		element TextArea(Hud/OppText1_0)
		{
			metrics_mode pixels
			font_name Vera
			char_height 22
			left 5
			top  25
		}
		element TextArea(Hud/OppText2_0)
		{
			metrics_mode pixels
			font_name Vera
			char_height 22
			left 5
			top  45
		}
		element TextArea(Hud/OppText3_0)
		{
			metrics_mode pixels
			font_name Vera
			char_height 22
			left 5
			top  65
		}
		element TextArea(Hud/OppText4_0)
		{
			metrics_mode pixels
			font_name Vera
			char_height 22
			left 5
			top  85
		}

		//  col 1  ---------
		element TextArea(Hud/OppText0_1)
		{
			metrics_mode pixels
			font_name Vera
			char_height 22
			left 65
			top  5
		}
		element TextArea(Hud/OppText1_1)
		{
			metrics_mode pixels
			font_name Vera
			char_height 22
			left 65
			top  25
		}
		element TextArea(Hud/OppText2_1)
		{
			metrics_mode pixels
			font_name Vera
			char_height 22
			left 65
			top  45
		}
		element TextArea(Hud/OppText3_1)
		{
			metrics_mode pixels
			font_name Vera
			char_height 22
			left 65
			top  65
		}
		element TextArea(Hud/OppText4_1)
		{
			metrics_mode pixels
			font_name Vera
			char_height 22
			left 65
			top  85
		}

		//  col 2  ---------
		element TextArea(Hud/OppText0_2)
		{
			metrics_mode pixels
			font_name Vera
			char_height 22
			left 130
			top  5
		}
		element TextArea(Hud/OppText1_2)
		{
			metrics_mode pixels
			font_name Vera
			char_height 22
			left 130
			top  25
		}
		element TextArea(Hud/OppText2_2)
		{
			metrics_mode pixels
			font_name Vera
			char_height 22
			left 130
			top  45
		}
		element TextArea(Hud/OppText3_2)
		{
			metrics_mode pixels
			font_name Vera
			char_height 22
			left 130
			top  65
		}
		element TextArea(Hud/OppText4_2)
		{
			metrics_mode pixels
			font_name Vera
			char_height 22
			left 130
			top  85
		}
		//  ----------------
	}
}
